.s-h {
  background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(212,65,120) 0%, rgb(121,37,57) 0%, rgb(0,0,0) 200%);
  background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(212,65,120) 0%, rgb(121,37,57) 0%, rgb(0,0,0) 200%);
  background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(212,65,120) 0%, rgb(121,37,57) 0%, rgb(0,0,0) 200%);
}
