.s-h {
  background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(212,65,120) 0%, rgb(121,37,57) 0%, rgb(0,0,0) 200%);
  background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(212,65,120) 0%, rgb(121,37,57) 0%, rgb(0,0,0) 200%);
  background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(212,65,120) 0%, rgb(121,37,57) 0%, rgb(0,0,0) 200%);
}
.block__portfolio {
   padding-top: 30px;
   padding-bottom: 30px;
}

.block__portfolio--item {
    //border: 3px solid #fff;
    //box-shadow: 0 1px 3px rgba(0,0,0,.15);
    overflow: hidden;
    position: relative;
    //height: 200px;
    height: 25vh;
    /* height: 200px;
    width: 200px;*/
    padding: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.block__portfolio--item-content a, .block__portfolio--item-content a:hover{
    color:white;
    text-decoration: none;
}

@media (max-width: 375px) {
.block__portfolio--item {
height: 150px;
}
}


.block__portfolio--item-hidden {
    display: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.block__portfolio--item .block__portfolio--item-content {
    color: #fff;
    padding-top: 65px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: -5px;
}
@media (min-width: 992px) {


.block__portfolio--item:nth-child(2n) .block__portfolio--item-content {
    float: left;
        margin-left: 15%!important;
}

.block__portfolio--item:nth-child(2n+1) .block__portfolio--item-content {
    float: right;
}


}
.block__portfolio--item h3{
    padding-left: 10px;
    
}

.block__portfolio--item .block__portfolio--item_link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
}



.block__portfolio--item .img-back {
    position: absolute;
    //top: 50%;
    //left: 50%;
    //margin: -100px 0 0 -100px;
    z-index: -1;
    width: 100%;
    /* height: 200px;
    width: 200px;*/
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.block__portfolio--item:hover .img-back {
    /* width: 250px;
    height: 250px;*/
    //margin: -125px 0 0 -125px;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
}

.block__portfolio--item:hover .block__portfolio--item-hidden {
    display: block;
    padding-left: 10px;
}


.block__portfolio--item:hover{
    background-color: rgba(42,42,48,.6);
}



.block__portfolio--item:hover .block__portfolio--item-content {
    padding-top: 0;
}

.block__portfolio--item-hidden p{
    padding-bottom: 10px;
}


.block__portfolio--item-hidden .download{
	    margin-left: -40px;

}

.block__portfolio--item-hidden .download li {
    /* list-style: none; */
    padding-right: 5px;
    /* margin-left: -45px; */
    /* position: relative; */
    display: inline-flex;
}



.block__portfolio--item-hidden .download li a:hover{
background-color: rgb(238, 102, 40);
border-radius: 2px;
}


.block__portfolio--item-hidden .download li a{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}