/* 
* ECO Project
* Project Page - http://myeco.city
* Author - Fiodorov Nikita
* Site - https://new.vk.com/handlebar
*/


/* base.h */

$footer-height:10px;

/* 
* used namespace normalize;
* used namespace simplegrid;
*/

@import url(https://fonts.googleapis.com/css?family=Roboto);

/* font */

@font-face {
  font-family: 'DINPro';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/DINPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DINPro-Light';
  src: url('../fonts/DINPro-Light.eot');
  src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Light.woff2') format('woff2'), url('../fonts/DINPro-Light.woff') format('woff'), url('../fonts/DINPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  /*a name to be used later*/
  src: url('../fonts/LatoRegular.ttf');
  /*URL to font*/
}


/* headline */

%headline {
  font-family: 'DINPro', 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h1 {
  @extend %headline;
  font-size: 40px;
  text-align: center;
}

h2 {
  @extend %headline;
  font-size: 30px;
  padding-top: 20px;
}

h3 {
  @extend %headline;
  font-size: 20px;
  padding: 0 10px;
  font-weight: bold;
}

h4 {
  @extend %headline;
  font-size: 22px;
  text-align: center;
}

p {
  font-family: 'Lato', 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-size: 16px;
}

a,
a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
  overflow: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centr {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  height: 100%; //Растяжка на весь экран
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  position: relative; //Растяжка на весь экран
  min-height: 100%; //Растяжка на весь экран
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  padding: 60px 0%;
  padding-top: 0px; //для не блочного контента
}

.page-content {}//
.padding-120{
  padding-top: 120px !important;
}
figure {
  margin: 0;
}

.inner-wrapper {
  padding: 0 0;
}

.list-row li {
  float: right;
}