.slider {
  padding: 0;
}

.about_us {
  background-color: white;
  //height: 440px;
  text-align: center;
  h2 {
    padding-top: 70px;
  }
  p {
    white-space: pre-line;
    padding: 15px 0 40px 0;
    color: rgb(101, 101, 101);
    line-height: 1.625;
  }
  a {
    &[href*=tel] {
      padding: 10px;
      line-height: 1.625;
      color: black;
    }
    &[href*=mailto] {
      color: rgb(238, 102, 40);
      padding: 10px;
    }
  }
  .btn-arrow {
    margin: 10px 0 50px 0;
  }
}
.more {
  background-color: white;
  height: 178px;
  text-align: center;
  .btn-arrow {
    margin-top: 70px;
  }
}

.contact_us {
  background: #f06;
  background: linear-gradient(147deg, #f16, orange);
  min-height: 100%;
  background-size: 100%;
  //height:451px;
  color: white;
  h3 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.333;
    text-align: left;
  }
  a {
    display: block;
    padding: 2px;
  }
}

//@media (max-width: 1160px) {
//  .contact_us {
//    .push-5-16 {
//      margin-left: 0 !important;
//    }
//    .col-16-16 {
//      width: 75%!important;
//    }
//    .col-8-16 {
//      width: 50%;
//    }
//  }
//}

.form {
  &-control {
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px 0;
    background: transparent;
    color: white;
    padding: 15px;
    line-height: 1.2;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
  }
}

[href*=tel] {
  color: white;
}

[href*=mailto] {
  color: white;
}

input:focus {
  border-color: rgb(238, 102, 40)!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(238, 102, 40, .6)!important;
}

textarea:focus {
  border-color: rgb(238, 102, 40)!important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(238, 102, 40, .6)!important;
}